{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "trustwatch.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "trustwatch.labels" . | nindent 4 }}
    {{- with .Values.serviceMonitor.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "trustwatch.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: http
      path: {{ .Values.config.metricsPath | default "/metrics" }}
      interval: {{ .Values.serviceMonitor.interval }}
{{- end }}
